@font-face {
    font-family: rubik;
    src: url(./Font/Rubik.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./Font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(./Font/Poppins-Bold.ttf);
}